a.l-btn,a.l-btn span {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

a.l-btn {
	background-position: right 0;
	font-size: 12px;
	text-decoration: none;
	display: inline-block;
	zoom: 1;
	height: 22px;
	padding-right: 18px;
	cursor: pointer;
	outline: none;
	background-position: right 0;
}

a.l-btn-plain {
	padding: 0 3px 0 0;
	border: 1px;
}

a.l-btn-disabled {
	opacity: 0.3;
	filter: alpha(opacity =  30);
	cursor: default;
}

a.l-btn span.l-btn-left {
	display: inline-block;
	background-position: 0 -48px;
	padding: 2px 0px 2px 2px;
	line-height: 16px;
	height: 18px;
}

a.l-btn-plain span.l-btn-left {
	padding-left: 5px;
}

a.l-btn span span.l-btn-text {
	display: inline-block;
	vertical-align: baseline;
	width: auto;
	height: 16px;
	line-height: 16px;
	padding: 0;
	margin: 0;
}

a.l-btn span span.l-btn-icon-left {
	padding: 0 0 0 20px;
	background-position: left center;
}

a.l-btn span span.l-btn-icon-right {
	padding: 0 20px 0 0;
	background-position: right center;
}

a.l-btn span span span.l-btn-empty {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 16px;
}


a:hover.l-btn {
	background-position: right -24px;
	outline: none;
	text-decoration: none;
}

a:hover.l-btn span.l-btn-left {
	background-position: 0 bottom;
}

a:hover.l-btn-plain {
	padding: 0 3px 0 0;
}

a:hover.l-btn-disabled {
	background-position: right 0;
}

a:hover.l-btn-disabled span.l-btn-left {
	background-position: 0 -48px;
}
/* 背景、边框、字体颜色设置 */
a.l-btn-disabled {
	color: #ccc;
}
a.l-btn .l-btn-focus {
	outline: #0000FF dotted thin;
}

a.l-btn {
	color: #444;
	background-image: url('images/ui_button.png');
	background-repeat: no-repeat;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
}

a.l-btn span.l-btn-left {
	background-image: url('images/ui_button.png');
	background-repeat: no-repeat;
}

a.l-btn-plain,a.l-btn-plain span.l-btn-left {
	background: transparent;
	border: 0;
	filter: none;
}

/* jCocit: add button border to prevent flush when mouse over. */
a.l-btn-plain {
	border: 1px solid transparent;
	color: #000000;
}

a:hover.l-btn-plain {
	opacity: 1;
	filter: alpha(opacity = 100);
	background: #eaf2ff;
	color: #000000;
	border: 1px solid #2f9b94;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	background: -webkit-linear-gradient(top, #ffffff 0, #79c4bf 100%);
	background: -moz-linear-gradient(top, #ffffff 0, #79c4bf 100%);
	background: -o-linear-gradient(top, #ffffff 0, #79c4bf 100%);
	background: linear-gradient(to bottom, #ffffff 0, #79c4bf 100%);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr = #ffffff, endColorstr = #79c4bf, GradientType = 0 );
}

a.l-btn-disabled,a:hover.l-btn-disabled {
	opacity: 0.2;
	filter: alpha(opacity =  20);
}