.menu {
	position: absolute;
	margin: 0;
	padding: 2px;
	background-color: #f1f1f1;
	border-width: 1px;
	border-style: solid;
	border-color: #8c8c8c;
	color: #000000;
	overflow: hidden;
}

.menu span, .menu a, .menu li{
	padding: 0;
	margin: 0;
}

.menu-item {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	_border-color: #fafafa;
}

.menu-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 2px;
	top: 50%;
	margin-top: -8px;
}

.menu-text {
	height: 20px;
	line-height: 20px;
	float: left;
	padding-left: 28px;
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
}

.menu-rightarrow {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 0;
	top: 50%;
	margin-top: -8px;
	background: url('./images/ui_menu.png') no-repeat -32px center;
}

.menu-line {
	position: absolute;
	left: 26px;
	top: 0;
	height: 2000px;
	font-size: 1px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
}

.menu-sep {
	margin: 3px 0px 3px 25px;
	font-size: 1px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

.menu-active {
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	border-color: #b7d2ff;
	background: #eaf2ff;
}

.menu-item-disabled {
	opacity: 0.5;
	filter: alpha(opacity = 50);
	cursor: default;
}

.menu-shadow {
	position: absolute;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	background: #ccc;
	-moz-box-shadow: 2px 2px 3px #cccccc;
	-webkit-box-shadow: 2px 2px 3px #cccccc;
	box-shadow: 2px 2px 3px #cccccc;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}

.menu-active-disabled {
	border-color: transparent;
	background: transparent;
	color: #444;
}

.menu-content {
	background: #ffffff;
}